<% provide(:title, 'About') %>
<div class="container">
  <div class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg-6">
      <h2 class="text-center">About</h2>
      <hr>
      <div class="well about">
        <p class="lead">
          <b><i>techAtlanta</i></b> is an ongoing project to provide access to the best articles that Atlanta's tech scene has to offer. Articles are pulled daily and delivered to you summarized in one convenient location. Here's our current blog list. Contact us if you have any questions, or would like your blog featured.
        </p>
        <ul class="list-group text-center">
          <li>Hypepotamus</li>
          <li>Venture Atlanta</li>
          <li>TrustWorkz</li>
          <li>Kevy</li>
          <li>David Cummings</li>
          <li>WalkAboutApp</li>
          <li>Stay In Pharm</li>
          <li>Jeff Hillimire</li>
          <li>Don Pottinger</li>
          <li>ConAppGuru</li>
          <li>Johnson Cook</li>
        </ul>
      </div>
    </div>
  </div>
</div>