<% provide(:title, 'Latest Posts') %>
<div class="container" id="main">
  <% @articles.in_groups_of(2).map(&:compact).each do |article_pair| %>
    <div class="row">
      <% article_pair.each do |article| %>
        <div class="col-lg-6 text-left">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">
                <!-- Extrapolates title from url -->
                <%= get_title(article) %>               
                <%= get_favorite(article, @already_saved_articles, 
                                 link_to_heart('fa fa-heart fa-lg pull-right',
                                                article),
                                 link_to_heart('fa fa-heart-o fa-lg pull-right', article)) %>
              </h3>
            </div>
            <div class="panel-body">
              <p>
                <!-- Removes http links in summaries -->
                <%= get_summary(article) %> 
              </p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
  <div class="text-center">
    <%= will_paginate @articles %>
  </div>
</div>



