<div class="container" id="main">
  <% @articles.in_groups_of(2).map(&:compact).each do |article_pair| %>
    <div class="row">
      <% article_pair.each do |article| %>
        <div class="col-lg-6 text-left">
          <h3> 
            <!-- Extrapolates title from url -->
            <%= link_to article.source.split('/')[-1].titleize.gsub('-', ' ').gsub('.Html', ''), article.source, target: '_blank' %>
          </h3>
          <p>
            <!-- Removes http links in summaries -->
            <%= article.summary.gsub(/<https?:\/\/[\S]+/, ' ') %>
          </p>
        </div>
      <% end %>
    </div>
  <% end %>
</div>



