<div class="container" id="main">
  <% @articles.in_groups_of(2).map(&:compact).each do |article_pair| %>
    <div class="row">
      <% article_pair.each do |article| %>
        <div class="col-lg-6 text-left">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">
                <!-- Extrapolates title from url -->
                <%= link_to truncate(article.source.split('/')[-1].titleize.gsub('-', ' ').gsub('.Html', ''), length: 30, separator: ' '), article.source, target: '_blank' %>
                <% if signed_in? %>  
                  <%= link_to content_tag(:i, nil, class: 'fa fa-heart-o fa-lg pull-right'), favorites_path(favorite: { article_id: article.id }),method: :post %>
                <% end %>
              </h3>
            </div>
            <div class="panel-body">
              <p>
                <!-- Removes http links in summaries -->
                <%= article.summary.gsub(/<https?:\/\/[\S]+/, ' ') %> 
              </p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
  <div class="text-center">
    <%= will_paginate @articles %>
  </div>
</div>



