<% @my_articles.map do |article| %>
  <h3> 
    <!-- Extrapolates title from url -->
    <%= link_to article.source.split('/')[-1].titleize.gsub('-', ' ').gsub('.Html', ''), article.source, target: '_blank' %>
  </h3>
  <p><%= article.summary %></p>
  <%= link_to 'delete', article, method: :delete %>
<% end %>