<% provide(:title, 'Favorites') %>
<% if @user.articles.blank? %>
  <h4 class="text-center">No favorites here! Check out the latest posts to add some.</h4> 
<% else %>
  <div class="container" id="main">
    <% @user.articles.in_groups_of(2).map(&:compact).each do |article_pair| %>
    <div class="row">
      <% article_pair.each do |article| %>
        <div class="col-lg-6 text-left">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">
                <!-- Extrapolates title from url -->
                <%= get_title(article) %>
              </h3>
            </div>
            <div class="panel-body">
              <p>
                <!-- Removes http links in summaries -->
                <%= get_summary(article) %> 
              </p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <% end %>
  </div>
 <% end %>

